/* General */

body {
  font-weight: 300;
  background-color: #ffffff;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.clear-padding {
  padding: 0 !important;
}

/* Header */

.brand-logo {
  font-weight: 400;
  font-size: 1.7rem !important;
 /* background: url(/img/logo.png);*/
}

/* Article */

.article-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 42%;
}

.article-meta-author-name {
  font-weight: 500;
}

.article-meta-container {
  margin-bottom: 16px;
}

article ul li, footer ul li {
  line-height: 2;
}

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 22px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 18px !important;
}

/* Figure */

figure>img {
  width: 100%;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.dark-shadow {
  /* background-color: rgba(0, 0, 0, 0.7);
  margin: 5px;
  padding: 0;
  line-height: 40px; */
  text-shadow:
          -2px 0px 2px rgba(0, 0, 0, 0.5),
          2px 0px 2px rgba(0, 0, 0, 0.5);
}

a {
  color: #3949ab;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.sidenav .info-view {
  position: relative;
  padding: 32px 8px 32px 8px;
  margin-bottom: 8px;
  text-align: center;
}

.sidenav .info-view > a {
  height: auto;
  padding: 0;
}

.sidenav .info-view > a:hover {
  background-color: transparent;
}

.sidenav .info-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .info-view h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  max-width: 1044px;
}