<!doctype html>
<html lang="en">
  <head>
    {{ partial "head-meta" . }}

    <meta name="description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .Permalink }}">

    {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
    <title>{{ .Title }}</title>

    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/materialize.min.css" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}">
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}">
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>
  <body class="">
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}

    <main>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    </main>

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>
  </body>
</html>