{{ define "main" }}

<div id="index-banner" class="parallax-container hide-on-med-and-down">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center cyan-text text-lighten-2"><span class="dark-shadow">Despite all the fancy tools we have today, software projects fail as often as 15 years ago.</span></h1>
            <div class="row center">
                <h5 class="header col s12 light">
                    <span class="dark-shadow">
                    More frameworks &amp; tools are not a solution.
                    Instead we need to explore more humane ways of collaborating, establish a culture of continuous learning and strive for technical excellence.
                    </span>
                </h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/img/paralax_home.jpg" alt="Unsplashed background img 1"></div>
</div>

{{ $truncate := default true .Site.Params.truncate }}
{{ range .Paginator.Pages }}

    {{ if $truncate }}
        {{ .Render "summary" }}
    {{ else }}
        {{ .Render "content" }}
    {{ end }}

{{ end }}

{{ partial "paginator" . }}

{{ end }}