<article class="row max-width">
    <div class="col s12 l10 offset-l1">
        <h3 class="overview-title">
            <a class="indigo-text text-darken-1" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h3>
        <div class="overview-meta">{{ partial "article-meta-short" . }}</div>
        {{ if .Summary }}
        <p class="overview-summary">{{ .Summary }}</p>
        <div class="overview-more no-print"><a href="{{ .RelPermalink }}">Read more...</a></div>
        {{ end }}
    </div>
</article>